html, #root, body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(to top, #ffe8ec 60%, #fff5f5);
  font-family: Jost, sans-serif;
  font-size: small;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, #ffe8ec 60%, #fff5f5);
}

.button-container {
  display: flex;
  justify-content: center;
}

.mainContainer {
  display: flex;
}

.mandalaList,
.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 800px;
  max-height: 80vh;
  width: 240px;
  border-top: 2px solid #a2737b;
  border-bottom: 2px solid #a2737b;
  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold 700;
  color: #8f5861;
}

.infoContainer {
  justify-content: space-between;
}

.mandalaList::-webkit-scrollbar {
  background: none;
  border-style: none;
  width: 0.4vw;
  min-width: 6px;
  max-height: 8px;
}

.mandalaList::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: #fc68ad3a;
  border: 1px solid #a2737b;
}

.mandala-thumbnail {
  max-width: 200px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 100%;
  border: 2px solid #a2737b;
  box-shadow: 0 4px #8d3d633a;
}

.mandala-preview {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#mainImage {
  width: 800px;
  height: 800px;
  max-height: 80vh;
  max-width: 80vh;
  background-color: #ffffff70;
  border-radius: 100%;
  border: 2px solid #a2737b;
  box-shadow: 0 0 40px 20px #ffffff30;
  margin: 12px;
}

.nav {
  display: flex;
  flex: auto;
  align-items: baseline;
  margin: 4px;
  margin-bottom: 12px;
}

h2 {
  margin: 0;
  margin: 12px;
  margin-right: 20px;
  color: #8f5861;
}

a {
  font-size: 20px;
  color: #8f5861;
}

input,
button {
  font-family: Jost, sans-serif;
  border-radius: 8px;
  border: 1px solid #a2737b;
  margin-right: 4px;
  height: 24px;
  outline: none;
  text-align: center;
  box-sizing: border-box;
}

.pointsButton {
  width: 24px;
}

input {
  width: 48px;
}

button {
  background-color: #fc68ad24;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: rgb(189 245 198);
}

.ready:hover {
  background-color: rgb(189 245 198);
}

.notReady {
  background-color: #e4d0d4;
}

.notReady:hover {
  background-color: #e4d0d4;
}

/* Mobile Styling */

@media (max-width: 600px) {
  body {
    font-family: Jost, sans-serif;
  }

  .mainContainer {
    flex-direction: column;
    align-items: center;
  }

  #uploadButton {
    margin-right: 0;
  }

  #downloadButton {
    display: none;
  }

  h2 {
    margin-right: 0;
    margin-left:  0;
  }

  .nav {
    display: flex;
    flex-direction: column;
    flex: auto;
    width: 90%;
    align-items: center;
    margin: 8px;
  }

  .nav > * {
    margin-bottom: 4px;
  }

  .mandalaList,
  .infoContainer {
    width: 100%;
    max-height: unset;
    height: auto;
  }

  .infoContainer > * {
    padding: 12px;
  }

  .mandalaList {
    flex-direction: row;
    width: 100vw;
    height: 120px;
    overflow: auto;
    overflow-y: hidden;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .mandala-thumbnail {
    height: 20vw;
  }

  #mainImage {
    width: 320px;
    height: 320px;
  }
}
